Options -Multiviews
 
RewriteEngine On

ErrorDocument 404 /public/?controller=home&action=error404

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
 
RewriteRule ^(.+)$ index.php?url=$1 [QSA]