Options -Multiviews
 
RewriteEngine On
 
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
 
#RewriteRule ^(.+)$ index.php?url=$1 [QSA]

ErrorDocument 404 /public/?controller=home&action=error404