body{
	background:#E6E6E6;
	margin:0;
}

#info_gestion{
	cursor: help;
	margin-left: 10px;
	width: 10px;
	height: 10px;
}

#cuerpo{
	margin-top: 20px;
}

nav li a:hover, nav li a:focus {
	background-color: #555 !important;
}

/*FORM Login y Registro*/
#login,#registrar, #perfil, #plantilla, .form{
	background-color: #fefefe;
	display: block;
	margin:50px auto;
	padding: 20px;
	border: 2px solid #4e9ac2;
	border-radius:10px;
	width: 220px;
}
#plantilla{
	width: 345px;
}
#plantilla input[type="submit"]{
	margin: 0 auto;
	display: block;
}
#login h2 , #registrar h2 , #perfil h2, #plantilla h3, .form h3{
	margin: 0;
	padding: 10px;
	text-align: center;
	background: deepskyblue;
	border-radius: 4px;
}
#login input[type="text"], #login input[type="mail"], #login input[type="password"],
#registrar input[type="text"], #registrar input[type="mail"], #registrar input[type="password"]{
	width: 100%;
	border-width: 0;
	border-bottom-width: 1.6px;
	border-bottom-color: grey;
	padding: 5px;
}
#login input, #registrar input, #perfil input, .form input{
	display: block;
	margin: 5px auto;
	box-sizing: border-box;
}
#login input[type="text"]:focus,#login input[type="mail"]:focus, #login input[type="password"]:focus,
#registrar input[type="mail"]:focus ,#registrar input[type="text"]:focus ,#registrar input[type="password"]:focus, 
{
	border-color: lightskyblue;
	outline: none;
}

#reportar{
	background-color: #fefefe;
	display: block;
	margin:50px auto;
	padding: 20px;
	border: 2px solid #4e9ac2;
	border-radius:10px;
	width: 400px;
	text-align: center;
}
#reportar textarea{
	width: 100%;
	height: 200px;
}

/*Clases para botones*/
.btn-blue{
	background:#488aff;
	color:white;
	border:none;
	border-radius:3px;
	padding:3px;
	cursor: pointer;
	padding:5px;
}

/* The Close Button */
.close {
	display:block;
	color: #aaaaaa;
	font-size: 28px;
	font-weight: bold;
	position:absolute;
	right:10px;
	top:10px;
	width:16px;
	height:16px;
	vertical-align:middle;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/*Errores*/

#cuerpo div form .errorInput{
	border-bottom-color:red;
}

input:required:valid {
	background:lightcyan
}
#formMatri{
	width:350px;
	margin:0 auto;
}
#formMatri form{
	display: table;
	margin:0 auto;
}
#formMatri label{

	display: inline-block;
	width:80px;
}
#formMatri ul{
	padding-left:0;
	list-style:none;
}
#formMatri ul li{
	margin:5px 0;
}
tfoot input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}

/*TABLA FACTURACION*/

#factu{
	margin: 0 10px;
}

.dataTables_wrapper{
	padding:5px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
	border-radius: 5px;
	margin: 10px 0;
	width: 100%;
	overflow: auto;
}
.dataTables_wrapper table tr >:first-child, .dataTables_wrapper table input + td{
	text-align: center;
}
.dataTables_wrapper table tr td{
	/*No permite realizar un salto de linea*/
	white-space: nowrap;
}

#perfil{
	text-align: center;
	width: 350px;
}
#perfil h2{
	margin-bottom:10px;
}

#perfil div button{
	margin-top: 20px;
}
#cambio{
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.31);
	border-radius: 10px;
	padding: 10px;
}
#perfil #cambio input{
	border-width: 0;
	border-bottom-width: 1.6px;
	border-bottom-color: grey;
	padding: 5px;
}
/* texto al modificar correctamente la contraseña */
#modificada{
	color:green;
}
#gestionUsuarios{
	background: white;
	width: 100%;
}
#gestionUsuarios td{
	padding: 5px;
	white-space: nowrap;
}
#gestionUsuarios th{
	text-align: center;
}
#gestionUsuarios thead{
	background: #b5b5b5;
}
#gestionUsuarios thead th{
	padding: 5px;
}
#gestionUsuarios tbody tr:nth-child(2n){
	background: rgb(128, 208, 245);
}
#entrada2 tbody tr:nth-child(2n), #entrada tbody tr:nth-child(2n){
	background-color: #e6e6e6;
}
#entrada2 tbody tr.cv:nth-child(2n) , #entrada tbody tr.cv:nth-child(2n){
	background-color: #d2dee6 !important;
}
#entrada2 tbody tr.cv:nth-child(2n+1) , #entrada tbody tr.cv:nth-child(2n+1){
	background-color: #e7f5ff !important;
}

#saludo{
	text-align: center;
}
/*#matricula, #bastidor{
	text-transform: uppercase;
	}*/

.report{
	font-size: 20px;
	background: #5bc0de;
	border-radius: 10px;
}
.report a{
	color:white !important;
}
.reportes ul{
	list-style: none;
}
.reportes li{
	height: 250px;
	margin: 50px;
	padding:5px;
	border:1px solid red;
}

.reportes li div *{
	/*margin: 5px;
	border: 1px solid;
	padding:5px;*/
}

.reportes div{
	
}
.reportes .estado{
	display:block;
	width: 20px;
	height:20px;
}
.reportes .si{
	background: green;
}
.reportes .no{
	background: red;
}
.reportes div.meta{
	padding: 8px;
	border: 1px solid green;
	float:left;
	height: 100%;
}
.reportes div.titulo{
	background: rgb();
	border: 1px solid black;
	height: 50px;
	display: grid;
	text-align: center;
}
.reportes div.titulo h3{
	margin:auto;
}
.reportes div.contenido{
	border: 1px solid blue;
	height: 188px;
	display: grid;
	padding:10px;
}

::-webkit-input-placeholder { color:#91bbbf; }

#plantilla .separador{
	margin: 10px 0;
}
#plantilla .separador h3{
	margin-bottom: 8px;
}


/*Redimension de boton*/
.default, .noTlf{
	padding:1px 5px;
}


/*Se quitan las flechas del input number cuando se selecciona compraventa*/
input[type=number]#vTlf::-webkit-outer-spin-button,
input[type=number]#vTlf::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]#vTlf {
  -moz-appearance:textfield;
}
.cv{

}

.contenedorEntradas{
	margin:0 10px 15px 10px; 
}

.contenedorEntradas button{
	margin: 0 4px;
}


/*#plantilla input {
  width: 300px;
  height: 40px;
  border: 2px solid #ccc;
 
}
#plantilla input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
   border-color: rgb(102, 175, 233);
}*/